/* 
    Styling for blog app

*/

/* HTML5 elements section */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 00;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* styling for keyboard */
#keyB {
  background-color: #f0f0f0;
  display: inline-block;
  padding: 15px 15px;
  border: 2px solid rgb(0, 0, 0);
}

#keyboard1 {
  padding: 3px;
}

#keys1 {
  width: 40px;
}

#keys2 {
  width: 80px;
}

#keys3 {
  width: 100px;
}

#keyboard2 {
  padding: 3px;
}

#keyboard3 {
  padding: 3px;
}

#keyboard4 {
  padding: 3px;
}

#keyboard5 {
  padding: 3px;
}

#words {
  width: 175px;
  height: 35px;
  padding: 20px;
}

#TB {
  height: 400px;
  width: 300px;
}

/* styling for switch element */
#flexSwitchCheckDefault {
  width: 175px;
  height: 35px;
}


